[submodule "src/Debugger/json"]
	path = src/Debugger/json
	url = https://github.com/rxi/json.lua
[submodule "modules/websocketpp"]
	path = modules/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "modules/lua"]
	path = modules/lua
	url = https://github.com/lua/lua.git
[submodule "modules/asio"]
	path = modules/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "modules/Catch2"]
	path = modules/Catch2
	url = https://github.com/catchorg/Catch2
